* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Hanken Grotesk', sans-serif;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.results-summary-component {
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    border-radius: 10px;
}
